<div class="wrapper">
    <!-- Preloader -->
    <div class="preloader flex-column justify-content-center align-items-center">
        <img class="animation__wobble" src="assets/img/AdminLTELogo.png" alt="AdminLTELogo" height="60" width="60">
    </div>

    <app-navbar></app-navbar>

    <app-sidebar></app-sidebar>

    <!-- Content Wrapper. Contains page content -->
    <div class="content-wrapper">
        <!-- Breadcrumbs -->
        <app-breadcrumbs></app-breadcrumbs>
        <!-- Main content -->
        <section class="content">
            <div class="container-fluid">
                <!-- Mi sistema de Rutas -->

                <div class="row">
                    <div class="col-12">
                        <div class="card">
                            <div class="car-body">
                                Este es algun texto
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- /.content -->
    </div>
    <app-settings-sidebar></app-settings-sidebar>
    <app-footer></app-footer>
</div>